<section class="post-detail-container">
  <div class="post-body" [@flyInOut]="'in'">
    <mat-card>
      <div class="flex post-header-container ">
          <div class="flex-9">
            <h1 class="post-title">{{ (post$ | async)?.title }}</h1>
          </div>
          <div class="flex-3 post-info flex flex-column">
            <div class="flex-row">
              <span class="flex-3">Published:</span>
              <p>{{ (post$ | async)?.created  | date:'shortDate'}}</p>
            </div>
            <div class="flex-row">
              <span class="flex-3">Category:</span>
              <ng-container>
                <p>{{ (post$ | async)?.category_obj?.title }}</p>
              </ng-container>
            </div>
          </div>
        </div>
      <p>{{ (post$ | async)?.body }}</p>
      <div class="fb-comment-container">
        <fb-comments [href]="'http://djudo.com/' + (post$ | async)?.id" ></fb-comments>
      </div>
    </mat-card>
  </div>

  <!--<div class="comments-container" *ngIf="(post$ | async)?.comments.length > 0">-->
      <!--<ng-container *ngFor="let comment of (post$ | async)?.comments">-->
        <!--<djudo-comments [comment]="comment"></djudo-comments>-->
      <!--</ng-container>-->
  <!--</div>-->
</section>
