/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~assets/styles/variables";
@import "~assets/styles/mixins";

body, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
  body {
    position: relative;
    min-height: 100%;
    background-color: $light-grey;
    .content-container {
      padding-bottom: 50px;
      font-family: $roboto;
      p {
        @include pFontStack(18px, 300);
        line-height: 30px;
      }

      .post-container {
        width: 70%;
      }
    }

    .card {
      cursor: pointer;
      margin: 25px 0;
      color: $grey;
      transition: color .5s;
      box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 2px rgba(0,0,0,.22);
      transition: box-shadow .25s cubic-bezier(.4,0,.2,1);
      padding: 15px;
      border-radius: 2px;
      &:hover {
        box-shadow: -1px 3px 5px $box-shadow-grey;
        color: #2574A9;
      }
    }
  }
}
